<h4>Saved Addresses</h4>
<ul>
    {{#each addresses as |address|}}
        {{address-radio address=address radioName=targetAddressName selectedAddress=targetAddress action="changeAddress"}}
    {{/each}}
</ul>

{{!-- <p>
    <button type="button" name="button" {{action "toggleAddNewAddress"}}>Enter a new address</button>
</p>

{{#if addNewAddress}}
    {{address-form address=shippingAddress}}
{{/if}} --}}

{{yield}}
