<div class="row">
    <div class="col-xs-12">
        <ol>
            {{#link-to 'order.cart' class="cart-icon"}}
                <li>
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </li>
            {{/link-to}}
            {{#if (not isSignedIn)}}
                {{#link-to 'order.sign-in' class=navItemWidth}}
                    <li>
                        <span>Sign in</span>
                    </li>
                {{/link-to}}
            {{/if}}
            {{#link-to 'order.shipping-options' class=navItemWidth}}
                <li>
                    <span>Shipping Option</span>
                </li>
            {{/link-to}}
            {{#link-to 'order.shipping-address' class=navItemWidth}}
                <li>
                    <span>Shipping Address</span>
                </li>
            {{/link-to}}
            {{#link-to 'orders' class=navItemWidth}}
                <li>
                    <span>Payment</span>
                </li>
            {{/link-to}}
        </ol>
    </div>
</div>
{{yield}}
