<div class="container-fluid no-padding">
    <ul class="nav navbar-nav">
        {{#if isNewUser}}
            {{#link-to 'order.sign-up' tagName="li" class="vertical-align-middle" classNames=navItemWidth}}
                <a href="#">
                    About
                </a>
            {{/link-to}}
        {{/if}}
        {{#link-to 'order.shipping-address' tagName="li" class="vertical-align-middle" classNames=navItemWidth disabled=disableAddress}}
            <a href="#">
                Address
            </a>
        {{/link-to}}
        {{#link-to 'order.shipping-options' tagName="li" class="vertical-align-middle" classNames=navItemWidth disabled=disableShipping}}
            <a href="#">
                Shipping
            </a>
        {{/link-to}}
        {{#link-to 'order.payment' tagName="li" class="vertical-align-middle" classNames=navItemWidth disabled=disablePayment}}
            <a href="#">
                Payment
            </a>
        {{/link-to}}
    </ul>
</div>
{{yield}}
