<div class="container-fluid no-padding">
    <ul class="nav navbar-nav">
        {{#link-to 'order.cart' tagName="li" class="cart-icon vertical-align-middle"}}
            <a href="#">
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </a>
        {{/link-to}}
        {{#if (not isSignedIn)}}
            {{#link-to 'order.account.sign-in' tagName="li" class="vertical-align-middle" classNames=navItemWidth}}
                <a href="#">
                    Sign in
                </a>
            {{/link-to}}
        {{/if}}
        {{#link-to 'order.shipping-options' tagName="li" class="vertical-align-middle" classNames=navItemWidth}}
            <a href="#">
                Shipping Option
            </a>
        {{/link-to}}
        {{#link-to 'order.shipping-address' tagName="li" class="vertical-align-middle" classNames=navItemWidth}}
            <a href="#">
                Shipping Address
            </a>
        {{/link-to}}
        {{#link-to 'order.payment' tagName="li" class="vertical-align-middle" classNames=navItemWidth}}
            <a href="#">
                Payment
            </a>
        {{/link-to}}
    </ul>
</div>
{{yield}}
