{{!-- TODO make radio buttons set shippingAddress on order model --}}
{{radio-button value=address name="shippingAddress" checked=shippingAddress id=address}}
<label for="{{address}}">{{addressSummary}}</label>
{{yield}}
