<div class="panel panel-default">
    <div class="panel-body">
        <h4>Promo Code & Gift Cards</h4>
        <strong>Enter promo code or gift card PIN</strong>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter code or PIN">
            </div>
            <button type="submit" class="btn btn-default">Apply</button>
        </form>
        <span>Only 1 promo code or gift card per order</span>
    </div>
</div>

{{yield}}
