@import 'account.scss';
@import 'components/delivery-method';
@import 'components/address-book';
@import 'components/moo-price';
@import 'components/item-details';
@import 'components/order-total';
@import 'components/checkout-nav';
@import 'components/payment-options';
@import 'components/validated-input';
@import 'bootstrap-customisation/btn-moo';


header {
    background-color: #00945E;
    text-align: center;
    padding: 10px;
}

.vertical-align-middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.text-align-left {
    text-align: left;
}

.no-padding {
    padding: 0px;
}

.radio {
    &.active {
        background-color: #f1f1f1;
    }
}

// Stop apple zooming
.form-control {
    font-size: 16px;
}
