@import 'components/delivery-method';
@import 'components/address-book';
@import 'components/moo-price';
@import 'components/item-details';
@import 'bootstrap-customisation/btn-moo';


header {
    background-color: #00945E;
    text-align: center;
    padding: 10px;
}
