header {
    background-color: #00945E;
    text-align: center;
    padding: 10px;
}

.address-book, .delivery-methods {
    .radio {
        padding: 20px;
        cursor: pointet;
        font-weight: normal;
        label {
            padding-left: 0;
        }
        input[type='radio'] {
            display: none;
        }
    }
    .active {
        background-color: #f1f1f1;
    }
    form {
        padding-top: 15px;
    }
}

.item-details {
    .original-price {
        text-decoration: line-through;
    }
    .product-image {
        text-align: center;
        padding: 20px;
        img {
            width: 100%;
        }
    }
}
