<form class="form-inline">
    <div class="form-group">
        <label>Select shipping country:</label>
        {{#x-select value=shippingCountry action="setShippingCountry" class="form-control"}}
            {{#x-option value="UK"}}UK{{/x-option}}
            {{#x-option value="USA"}}USA{{/x-option}}
        {{/x-select}}
    </div>
</form>
<div class="row">
    <div class="col-xs-12">
        {{shipping-options/delivery-options
            deliveryOptions=shippingOptions
            selectedDeliveryOption=selectedShippingOption
            setShippingOption=setShippingOption
        }}
    </div>
</div>

{{yield}}
