{{#each paymentMethods as |paymentMethod|}}
    {{payment/payment-method paymentMethod=paymentMethod selectedPaymentMethod=selectedPaymentMethod setPaymentMethod=setPaymentMethod}}
{{/each}}

{{#if (not showCardEntryForm)}}
    <button type="button" class="btn btn-block btn-default" {{action 'enterNewCard'}}>Use a different card</button>
{{/if}}

{{#if showCardEntryForm}}
    {{payment/card-form 
        card=newCard 
        setPaymentMethod=setPaymentMethod 
        savePaymentMethod=savePaymentMethod}}
{{/if}}

{{yield}}
