.checkout-nav {
    ul {
        width: 100%;
        li {
            text-align: center;
            &.cart-icon {
                width: 10%;
            }
            &.twenty-two-percent {
                width: 21.0%;
            }
            &.thirty-percent {
                width: 28.8%;
            }
        }
    }
}

.navbar-nav {
	margin:0;
}
.navbar-nav > li {
	float:none;
    display:inline-block;
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-nav > li.open > ul.dropdown-menu {
  position: absolute;
  border: 1px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
