.delivery-method {
    padding-right: 5px;
    padding-left: 5px;
    .panel {
        cursor: pointer;
        &:hover {
            background-color: #E6E6E6;
        }
    }
    margin-top: 15px;
    text-align: center;
    input[type="radio"] {
        display: none;
    }
    .active {
        background-color: #00965E;
    }
}
