.item-details {
    .product-image {
        padding: 20px;
        img {
            max-height: 200px;
            max-width: 100%;
        }
    }
    .vertical-align-middle {
        display: inline-block;
        vertical-align: middle;
        float: none;
        text-align: center;
    }
}
