.payment-options {
    label {
        cursor: pointer;
    }
    .panel-body {
        text-align: center;
    }
    img {
        max-height: 100%;
        max-width: 100%;
    }
    input[type="radio"] {
        display: none;
    }
    .active {
        background-color: #00965E;
    }
}
