 <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Got a MOO account?</h4>
                        <p>
                            Please sign in.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{outlet}}
                    </div>
                </div>
                <hr>
                <h4>New to MOO?</h4>
                <p>
                    Good to meet you friend.
                </p>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        
                        <div class="form-group">
                            {{#link-to 'order.sign-up' class="account-button"}}
                                <button type="button" name="button" class="btn btn-moo btn-block">Proceed to checkout</button>
                            {{/link-to}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
