<div class="row">
    <div class="col-md-12">
        <h2>Sign in</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            Please log in.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{outlet}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12" style="text-align:center;">
                        <strong>OR</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <div class="form-group">
                            {{#link-to 'order.account.sign-in' class="account-button"}}
                                <button type="button" name="button" class="btn btn-default btn-block">Sign In with Email</button>
                            {{/link-to}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <div class="form-group">
                            {{#link-to 'order.account.sign-up' class="account-button"}}
                                <button type="button" name="button" class="btn btn-default btn-block">Sign Up with Email</button>
                            {{/link-to}}
                        </div>
                    </div>
                </div>
                {{!-- <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <div class="form-group">
                            {{#link-to 'order.shipping-options' class="account-button"}}
                                <button type="button" name="button" class="btn btn-default btn-block">Continue with Guest Checkout</button>
                            {{/link-to}}
                        </div>
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
</div>
