<div class="row">
    <div class="col-md-12">
        <h2>Cart</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                {{#each order.items as |item|}}
                    {{item-details item=item}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{#order-total order=order}}
                        {{mini-promo-code applyDiscount="applyDiscount" discount=order.discount}}
                    {{/order-total}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                {{#if order.user}}
                    {{#link-to 'order.shipping-options'}}
                        <button type="button" name="button" class="btn btn-block btn-moo">Checkout</button>
                    {{/link-to}}
                {{else}}
                    {{#link-to 'order.account'}}
                        <button type="button" name="button" class="btn btn-block btn-moo">Checkout</button>
                    {{/link-to}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
