<div class="row">
    <div class="col-md-12">
        <h2>Cart</h2>
    </div>
</div>

{{!-- order items section  --}}
<div class="row">
    <div class="col-md-12">
        {{#each order.items as |item|}}
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{item-details item=item}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

{{!-- Shipping Options --}}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {{shipping-options/shipping-options
                    shippingCountry=order.shippingCountry
                    selectedShippingOption=order.shippingOption
                    setShippingOption="setShippingOption"
                    setShippingCountry="setShippingCountry"
                    showShippingCountry=true
                }}
            </div>
        </div>
    </div>
</div>

{{!-- order-total  --}}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {{#order-total 
                    order=order
                }}
                    {{mini-promo-code applyDiscount="applyDiscount" discount=order.discount}}
                {{/order-total}}
            </div>
        </div>
    </div>
</div>

{{!-- Let's GO GO GO --}}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {{#if order.user}}
                    {{#link-to 'order.shipping-address'}}
                        <button type="button" name="button" class="btn btn-block btn-moo">Checkout</button>
                    {{/link-to}}
                {{else}}
                    {{#link-to 'order.account.sign-in'}}
                        <button type="button" name="button" class="btn btn-block btn-moo">Checkout</button>
                    {{/link-to}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
