{{checkout-nav user=user shippingAddress=order.shippingAddress shippingOption=order.shippingOption paymentMethod=order.paymentMethod}}

<div class="row">
    <div class="col-md-4 col-md-push-8">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{#order-summary order=order}}
                            {{#order-total 
                                order=order
                                setShippingOption="setShippingOption"
                                setShippingCountry="setShippingCountry"
                            }}
                                {{mini-promo-code applyDiscount="applyDiscount" discount=order.discount}}
                            {{/order-total}}
                        {{/order-summary}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-pull-4">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{payment-options/payment-options
                            paymentMethods=paymentBook 
                            selectedPaymentMethod=order.paymentMethod 
                            setPaymentMethod="setPaymentMethod"
                            clearPaymentMethod="clearPaymentMethod"
                            savePaymentMethod="savePaymentMethod"
                        }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{#link-to 'order.confirmation'}}
                            <button type="button" name="button" class="btn btn-block btn-moo">Place this order</button>
                        {{/link-to}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
