{{checkout-nav user=order.user shippingAddress=order.shippingAddress shippingOption=order.shippingOption paymentMethod=order.paymentMethod}}


<div class="row">
    <div class="col-md-4 col-md-push-8">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{#order-summary order=order}}
                            {{#order-total 
                                order=order
                            }}
                                {{mini-promo-code applyDiscount="applyDiscount" discount=order.discount}}
                            {{/order-total}}
                        {{/order-summary}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-pull-4">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Tell us about you</h4>
                        <p>
                            This is information is used to contact you about your order, allow you to track your order, save future projects, 
                            receive future MOO discounts and more.
                        </p>
                        <hr>
                        {{account/sign-up-form
                            createUser = "createUser"
                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
