<div class="row">
    <div class="col-md-12">
        <h2>Sign in</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
        {{sign-in}}
    </div>
</div>
